---
layout: default
---
<div class="row">

  <div class="col-md-10 blog-main">
    &nbsp;<br/>
    &nbsp;<br/>
     <center>
      <h4>Welcome to the Internal ePIC Home Page</h4>
      <hr/>
        <div><img src="{{ site.splash_internal | relative_url }}"   style='height: auto; width: 65%; object-fit: contain'/></div>

<center>
  <p>
    Please see the <a href="{{ site.design_document | relative_url }}" target="_blank">Design Document</a>
    for more details regarding this web project.
  </p></center>


    </center> <!-- class sm12 blog main -->

    {% if site.display_news %}
    {% include news/homenews.md %}
    {% endif %}


    <table width="100%"><tr>
<td><div style="text-align:left;">
    &copy;2024 ePIC Collaboration
</div></td>

<td><div style="text-align:right;">
  <em>Site built at {{ site.time }}</em>
</div></td>
    </tr></table>

  </div> <!-- class row -->
